@font-face {
    font-family: "Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "CutiveMono-Regular";
    src: url("fonts/CutiveMono-Regular.ttf") format("tff");
    }

body {
    font-family: "Avara-Bold", serif;
    background-color: darkgrey;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "bio-1 name name name . ."
    "bio-2 name name name . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    "image-1 image-1 . . . ."
    "text-1 . . . . ."
    "image-2 image-2 . . . ."
    "text-2 . . . . ."
    "image-3 image-3 . . . ."
    "text-3 . . . . ."
}

.name {
    grid-area: name;
}

.name h1 {
    color:darkblue;
    font-size: 300px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.name h1:hover {
    color: crimson;
    font-style: oblique;
}

.bio-1 {
    grid-area: bio-1;
}

.bio-1 p {
    color: darkblue;
    font-size: 36px;
    line-height: 2.1;
    font-family: 'Courier New', Courier, monospace;
}

.bio-1 p:hover {
    color: crimson;
    font-style: oblique;
}

.bio-2 {
    grid-area: bio-2;
}

.bio-2 p {
    color: darkblue;
    font-size: 36px;
    line-height: 2.1;
    font-family: 'Courier New', Courier, monospace;
}

.bio-2 p:hover {
    color: crimson;
    font-style: oblique;
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.text-1 {
    grid-area: text-1;
}

/* .text-1 p {

} */

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}
