@font-face {
    font-family: "Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "CutiveMono-Regular";
    src: url("fonts/CutiveMono-Regular.ttf") format("tff");
    }

body {
    font-family: "Avara-Bold", serif;
    background-color: darkgrey;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px ;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    "bio-1 . name name name name bio-3 bio-3"
    "bio-2 . name name name name bio-4 bio-4"
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . projekte projekte . . ."
    ". . . . . . . ."
    "image-1 image-1 . image-4 image-4 . image-7 image-7"
    "text-1 . . . . . . ."
    "image-2 image-2 . image-5 image-5 . image-8 image-8"
    "text-2 . . . . . . ."
    "image-3 image-3 . image-6 image-6 . image-9 image-9"
    "text-3 . . . . . . ."
}

.name {
    grid-area: name;
}

.name h1 {
    color:darkblue;
    font-size: 300px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    font-family: "CutiveMono-Regular";
}

.name h1:hover {
    color: crimson;
    transition: color 2s ease-in;
    transition: color 2s ease-out;
}

.bio-1 {
    grid-area: bio-1;
}

.bio-1 p {
    color: darkblue;
    font-size: 36px;
    line-height: 2.1;
    font-family: 'Courier New', Courier, monospace;
}

.bio-1 p:hover {
    color: crimson;
    font-style: oblique;
}

.bio-2 {
    grid-area: bio-2;
}

.bio-2 p {
    color: darkblue;
    font-size: 36px;
    line-height: 2.1;
    font-family: 'Courier New', Courier, monospace;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.bio-2 p:hover {
    color: crimson;
    font-style: oblique;
    opacity: 0.2;
}

.bio-3 {
    grid-area: bio-3;
}

.bio-3 p {
    color: darkblue;
    font-size: 36px;
    line-height: 2.1;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.bio-3 p:hover {
    color: crimson;
    font-style: oblique;
    opacity: 0.2;
}

.bio-4 {
    grid-area: bio-4;
}

.bio-4 p {
    color: darkblue;
    font-size: 36px;
    line-height: 2.1;
    font-family: 'Courier New', Courier, monospace;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.bio-4 p:hover {
    color: crimson;
    font-style: oblique;
    opacity: 0.2;
}

.projekte {
    grid-area: projekte;
}

.projekte p {
    color: darkblue;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 500;
}

.projekte p:hover {
    color: crimson;
    font-style: oblique;
}

.image-1 {
    grid-area: image-1;
}

.image-1 img {
    transition: transform 0.3s ease;
}

.image-1 img:hover {
    transform: scale(1.5);
}

.image-2 {
    grid-area: image-2;
}

.image-2 img {
    transition: transform 0.3s ease;
}

.image-2 img:hover {
    transform: scale(1.5);
}

.image-3 {
    grid-area: image-3;
}

.image-3 img {
    transition: transform 0.3s ease;
}

.image-3 img:hover {
    transform: scale(1.5);
}

.image-4 {
    grid-area: image-4;
}

.image-4 img {
    transition: transform 0.3s ease;
}

.image-4 img:hover {
    transform: scale(1.5);
}

.image-5 {
    grid-area: image-5;
}

.image-5 img {
    transition: transform 0.3s ease;
}

.image-5 img:hover {
    transform: scale(1.5);
}

.image-6 {
    grid-area: image-6;
}

.image-6 img {
    transition: transform 0.3s ease;
}

.image-6 img:hover {
    transform: scale(1.5);
}

.image-7 {
    grid-area: image-7;
}

.image-7 img {
    transition: transform 0.3s ease;
}

.image-7 img:hover {
    transform: scale(1.5);
}

.image-8 {
    grid-area: image-8;
}

.image-8 img {
    transition: transform 0.3s ease;
}
.image-8 img:hover {
    transform: scale(1.5);
}

.image-9 {
    grid-area: image-9;
}

.image-9 img {
    transition: transform 0.3s ease;
}
.image-9 img:hover {
    transform: scale(1.5);
}

.text-1 {
    grid-area: text-1;
}

/* .text-1 p {

} */

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}
