img {
    max-width: 100%;
    height: auto;
    display: block;
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 3fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-areas:
    "name name name name bio bio"
    ". . image-1 image-1 image-1 text-1"
    "image-2 image-2 image-2 text-2 . ."
    ". . image-3 image-3 image-3 text-3"
}

.name {
    grid-area: name;
    position: relative;
    top: 150px;
    z-index: 1;
}

.name h1 {
    color:darkblue;
    font-size: 400px;
    font-family: monospace;
    font-weight: unset;
    margin: 0;
}

.name h1:hover {
    color: crimson;
    font-style: oblique;
}

.bio {
    grid-area: bio;
    font-family: monospace;
}

.bio p {
    color: darkblue;
    font-size: 50px;
    font-family: monospace;
    line-height: 2.1;
}

.bio p:hover {
    color: crimson;
    font-style: oblique;
}

.image-1 {
    grid-area: image-1;
    position: relative;
}

.image-1 img {
    transition: opacity 0.3s ease;
}

.image-1 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-1:hover .a {
    opacity: 0;
}

.image-1:hover .b {
    opacity: 1;
}

.image-2 {
    grid-area: image-2;
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 200px;
    transform: translate(-50%, -50%);
    margin: 0;
}

.image-3 {
    grid-area: image-3;
}

.text-1 {
    grid-area: text-1;
}

.text-1 p {

}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}
